<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.erpsystem.dao.PurPersonMapper" >
  <resultMap id="BaseResultMap" type="cn.bdqn.erpsystem.pojo.PurPerson" >
    <id column="personId" property="personid" jdbcType="INTEGER" />
    <result column="personName" property="personname" jdbcType="VARCHAR" />
    <result column="personTel" property="persontel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    personId, personName, personTel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.bdqn.erpsystem.pojo.PurPersonExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pur_person
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pur_person
    where personId = #{personid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pur_person
    where personId = #{personid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.bdqn.erpsystem.pojo.PurPersonExample" >
    delete from pur_person
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.bdqn.erpsystem.pojo.PurPerson" >
    insert into pur_person (personId, personName, personTel
      )
    values (#{personid,jdbcType=INTEGER}, #{personname,jdbcType=VARCHAR}, #{persontel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.bdqn.erpsystem.pojo.PurPerson" >
    insert into pur_person
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="personid != null" >
        personId,
      </if>
      <if test="personname != null" >
        personName,
      </if>
      <if test="persontel != null" >
        personTel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="personid != null" >
        #{personid,jdbcType=INTEGER},
      </if>
      <if test="personname != null" >
        #{personname,jdbcType=VARCHAR},
      </if>
      <if test="persontel != null" >
        #{persontel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.bdqn.erpsystem.pojo.PurPersonExample" resultType="java.lang.Integer" >
    select count(*) from pur_person
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pur_person
    <set >
      <if test="record.personid != null" >
        personId = #{record.personid,jdbcType=INTEGER},
      </if>
      <if test="record.personname != null" >
        personName = #{record.personname,jdbcType=VARCHAR},
      </if>
      <if test="record.persontel != null" >
        personTel = #{record.persontel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pur_person
    set personId = #{record.personid,jdbcType=INTEGER},
      personName = #{record.personname,jdbcType=VARCHAR},
      personTel = #{record.persontel,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.bdqn.erpsystem.pojo.PurPerson" >
    update pur_person
    <set >
      <if test="personname != null" >
        personName = #{personname,jdbcType=VARCHAR},
      </if>
      <if test="persontel != null" >
        personTel = #{persontel,jdbcType=VARCHAR},
      </if>
    </set>
    where personId = #{personid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.bdqn.erpsystem.pojo.PurPerson" >
    update pur_person
    set personName = #{personname,jdbcType=VARCHAR},
      personTel = #{persontel,jdbcType=VARCHAR}
    where personId = #{personid,jdbcType=INTEGER}
  </update>
</mapper>